<div class="container">
  <div class="row mb-5">
    <div class="col-md-12">
      <div class="bg-light rounded p-3">
        <p class="mb-0">
          Voltando ao cliente?? <a href="#" class="d-inline-block">Clique aqui</a> para logar
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-5 mb-md-0">
      <h2 class="h3 mb-3 text-black">Detalhes pedido</h2>
      <div class="p-3 p-lg-5 border">

        <div class="form-group row">
          <div class="col-md-6">
            <label for="c_fname" class="text-black">Nome<span class="text-danger">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="nome">
          </div>
          <div class="col-md-6">
            <label for="c_lname" class="text-black">Sobrenome<span class="text-danger">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="sobrenome">
          </div>
        </div>

        <div class="form-group">
          <label for="c_diff_postal_zip" class="text-black">Consultar cep<span class="text-danger">*</span></label>
          <input type="text" class="form-control" [(ngModel)]="cep" (mouseleave)="buscarCep()">
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <label for="c_address" class="text-black">Endereço<span class="text-dabarnger">*</span></label>
            <input type="text" class="form-control" placeholder="" value="{{logradouro}}">
          </div>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Complemento"> 
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <label for="c_state_country" class="text-black">UF<span class="text-danger">*</span></label>
            <input type="text" class="form-control" value="{{uf}}">
          </div>
          <div class="col-md-6">
            <label for="c_postal_zip" class="text-black">Cidade<span class="text-danger">*</span></label>
            <input type="text" class="form-control" value="{{localidade}}">
          </div>
        </div>

        <div class="form-group row mb-5">
          <div class="col-md-6">
            <label for="c_email_address" class="text-black">Email<span class="text-danger">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="email">
          </div>
          <div class="col-md-6">
            <label for="c_phone" class="text-black">Celular<span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="Celular" placeholder="Número" [(ngModel)]="celular">
          </div>
        </div>

        <div class="form-group">
          <label for="c_order_notes" class="text-black">Observações</label>
          <textarea cols="30" rows="3 " class="form-control" placeholder="..." [(ngModel)]="observacoes"></textarea>
        </div>

      </div>
    </div>
    <div class="col-md-6">

      <div class="row mb-5">
        <div class="col-md-12">
          <h2 class="h3 mb-3 text-black">Cupom desconto</h2>
          <div class="p-3 p-lg-5 border">

            <label for="c_code" class="text-black mb-3">Digite seu código de cupom se você tiver um</label>
            <div class="input-group w-75">
              <input type="text" class="form-control" placeholder="Código cupom" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary btn-sm px-4" type="button">Aplicar</button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-md-12">
          <h2 class="h3 mb-3 text-black">Seu pedido</h2>
          <div class="p-3 p-lg-5 border">
            <table class="table site-block-order-table mb-5">
              <thead>
                <tr>
                  <th>Produto</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Bioderma <strong class="mx-2">x</strong> 1</td>
                  <td>R$55.00</td>
                </tr>
                <tr>
                  <td>Ibuprofeen <strong class="mx-2">x</strong> 1</td>
                  <td>R$45.00</td>
                </tr>
                <tr>
                  <td class="text-black font-weight-bold"><strong>Carrinho Subtotal</strong></td>
                  <td class="text-black">R$350.00</td>
                </tr>
                <tr>
                  <td class="text-black font-weight-bold"><strong>Total</strong></td>
                  <td class="text-black font-weight-bold"><strong>R$350.00</strong></td>
                </tr>
              </tbody>
            </table>

            <div class="border mb-3">
    
            </div>

            <div class="border mb-3">
              <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="collapsecheque">Valor divergente?</a></h3> <!--Quebra a borda-->
            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block" (click)="EnviarCompra()">
                Efetuar
                Compra
              </button>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- </form> -->
</div>
