
<div class="container">
  <div class="row flex-column-reverse flex-md-row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <img class="card-img" src="https://image.tmdb.org/t/p/w500/nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg" alt="Card image">
        </div>
        <div class="card-body">
          <h1 class="card-title">Interestelar</h1>
          <div class="container">
            <div class="row">
              <div class="col-4 metadata">
                <i class="fa fa-star" aria-hidden="true"></i>
                <p>9.5/10</p>
              </div>
              <div class="col-8 metadata">Aventura, terror</div>
            </div>
          </div>
          <p class="card-text">As reservas naturais da Terra estão chegando ao fim</p>
          <a class="trailer-preview" href="https://youtu.be/ePbKGoIGAXY" target="new">
            <i class="fa fa-play" aria-hidden="true"></i>
          </a>
          <button type="button" class="btn btn-outline-danger" routerLink="/Produto" [queryParams]="{Nome:'Interestelar'}">Alugar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <img class="card-img" src="https://is1-ssl.mzstatic.com/image/thumb/Video127/v4/41/c4/08/41c4087c-f19f-c456-6028-c14b17af8352/2620021LGINT_PTBR.jpg/268x0w.jpg" alt="Card image">
        </div>
        <div class="card-body">
          <h1 class="card-title">A Cabana</h1>
          <div class="container">
            <div class="row">
              <div class="col-4 metadata">
                <i class="fa fa-star" aria-hidden="true"></i>
                <p>9.5/10</p>
              </div>
              <div class="col-8 metadata">Aventura, terror</div>
            </div>
          </div>
          <p class="card-text">As reservas naturais da Terra estão chegando ao fim</p>
          <a class="trailer-preview" href="https://youtu.be/ePbKGoIGAXY" target="new">
            <i class="fa fa-play" aria-hidden="true"></i>
          </a>
          <button type="button" class="btn btn-outline-danger" routerLink="/Produto" [queryParams]="{Nome:' A Cabana'}">Alugar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <img class="card-img" src="https://cdn-images-1.medium.com/max/1200/1*1Ag9cMU0QigLEVdgvDbAwQ.jpeg" alt="Card image">
        </div>
        <div class="card-body">
          <h1 class="card-title">Fragmentado</h1>
          <div class="container">
            <div class="row">
              <div class="col-4 metadata">
                <i class="fa fa-star" aria-hidden="true"></i>
                <p>9.5/10</p>
              </div>
              <div class="col-8 metadata">Aventura, terror</div>
            </div>
          </div>
          <p class="card-text">As reservas naturais da Terra estão chegando ao fim</p>
          <a class="trailer-preview" href="https://youtu.be/ePbKGoIGAXY" target="new">
            <i class="fa fa-play" aria-hidden="true"></i>
          </a>
          <button type="button" class="btn btn-outline-danger" routerLink="/Produto" [queryParams]="{Nome:'Fragmentado'}">Alugar</button>
        </div>
      </div>
    </div>
  </div>
</div>
