
<div class="container">
  <div class="row flex-column-reverse flex-md-row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <img class="card-img" src="https://image.tmdb.org/t/p/w500/nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg" alt="Card image">
        </div>
        <div class="card-body">
          <h1 class="card-title">Interestelar</h1>
          <div class="container">
            <div class="row">
              <div class="col-4 metadata">
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <div class="col-8 metadata">Aventura, terror</div>
            </div>
          </div>
          <p>100 reais</p>
          <!--<button type="button" class="btn btn-outline-danger botao" [(ngModel)]="nomeFilme  = 'Interestelar'">Alugar</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
