<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ml-4" routerLink="">Turbo Locat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link barra-embaixo" routerLink="">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Filmes">Filmes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Produto">Compra</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Checkout">Checkout</a>
      </li>
      <li class="nav-item dropdown">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" disabled type="search" placeholder="Pesquisar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" disabled type="submit">Pesquisar</button>
    </form>
    <button type="button" class="btn btn-dark ml-4 mr-4" routerLink="Login">Login</button>
  </div>
</nav>
